:root {
	/* text */
	--main-font: "open sans", sans-serif;
	--secondary-font: "raleway", sans-serif;

	/* color */
	--main-color: #303030;
	--main-logo-color: #fff;
	--secondary-color: #555555;
	--hover-color: #ff6c00;

	/* background color */
	--main-bg-color: #fff;
	--secondary-bg-color: #f7f7f7;
	--add-bg-color: #191c26;
	--hoover-bg-color: #ff6c00;
}
body {
	font-family: var(--main-font);
	font-weight: 600;

	color: var(--main-color);

	background-color: var(--main-bg-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* common styles */

.uppertittle {
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.uppertittle-mode-dark {
	color: rgba(157, 164, 189, 0.6);
}

.text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.67;

	letter-spacing: 0.02em;
}

.text-mode-dark {
	color: #9da4bd;
}

/* Header */

.header {
	font-style: normal;
	font-size: 12px;
	line-height: 1.34;
	background-color: var(--add-bg-color);
}

.header-logo {
	background-color: var(--main-bg-color);
}

.header-nav-link {
	letter-spacing: 0.1em;

	color: var(--main-logo-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
	color: var(--hover-color);
}

.header-tell {
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--main-logo-color);
}

.header-btn {
	letter-spacing: 0.09em;
	text-transform: uppercase;

	color: var(--main-logo-color);
	background-color: transparent;

	cursor: pointer;
}

.header-btn:hover,
.header-btn:focus {
	background-color: var(--hoover-bg-color);
}

/* Main */

/* Hero section */

.hero {
	background-color: var(--add-bg-color);
}

.hero-link {
	font-style: normal;

	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: var(--main-color);
	background-color: var(--main-bg-color);
}

.hero-link:hover,
.hero-link:focus {
	color: var(--hover-color);
}

.hero-tittle {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;

	color: var(--main-logo-color);
}

.slider-prev {
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;

	color: rgba(157, 164, 189, 0.6);
	background-color: transparent;
}

.slider-next {
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;

	color: var(--main-logo-color);
	background-color: transparent;
}

/* Section About */
