:root {
	/* text */
	--main-font: "open sans", sans-serif;
	--secondary-font: "raleway", sans-serif;

	/* color */
	--main-color: #303030;
	--main-logo-color: #fff;
	--secondary-color: #555555;
	--add-color: #9da4bd;
	--hover-color: #ff6c00;

	/* background color */
	--main-bg-color: #fff;
	--secondary-bg-color: #f7f7f7;
	--add-bg-color: #191c26;
	--cover-bg-color: #111319;
	--hoover-bg-color: #ff6c00;
}
body {
	font-family: var(--main-font);
	font-weight: 600;

	color: var(--main-color);

	background-color: var(--main-bg-color);
}

h1,
h2,
h3,
p,
button,
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

image {
	display: block;
	min-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

/* common styles */

.container {
	width: 1200px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

.uppertittle {
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.uppertittle-mode-dark {
	color: rgba(157, 164, 189, 0.6);
}

.uppertittle-mode-light {
	color: var(--main-color);
}

.uppertittle::before {
	content: "";

	margin-right: 20px;
	width: 60px;
	height: 1px;

	background-color: var(--main-color);
}

.tittle {
	margin-bottom: 20px;

	font-family: "Raleway";
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;
}

.tittle-mode-dark {
	color: var(--main-logo-color);
}

.text {
	margin-bottom: 20px;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.67;

	letter-spacing: 0.02em;
}

.text-mode-dark {
	color: var(--add-color);
}

.text-mode-light {
	color: var(--secondary-color);
}

/* Header */

.header {
	font-style: normal;
	font-size: 12px;
	line-height: 1.34;
	background-color: var(--add-bg-color);
}

.header .container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 71px;
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: var(--main-bg-color);
}

.header-list {
	display: flex;
}

.header-list-item:not(:last-child) {
	margin-right: 40px;
}

.header-nav-link {
	letter-spacing: 0.1em;

	color: var(--main-logo-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
	color: var(--hover-color);
}

.header-contacts {
	display: flex;
	margin-left: auto;
}

.header-tell {
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 0;
	align-self: center;

	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--main-logo-color);
}

.header-tell:hover,
.header-tell:focus {
	color: var(--hover-color);
}

.header-btn {
	padding: 12px 20px;

	font-family: var(--main-font);
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.34;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	color: var(--main-logo-color);
	background-color: transparent;

	border: 1px solid var(--hover-color);
	border-radius: 25px;
	cursor: pointer;
}

.header-btn:hover,
.header-btn:focus {
	background-color: var(--hoover-bg-color);
}

/* Main */

/* Hero section */

.hero {
	background-color: var(--add-bg-color);
}

.hero-link {
	font-style: normal;

	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: var(--main-color);
	background-color: var(--main-bg-color);
}

.hero-link:hover,
.hero-link:focus {
	color: var(--hover-color);
}

.hero-tittle {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;

	color: var(--main-logo-color);
}

.slider-prev {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;

	color: rgba(157, 164, 189, 0.6);
	background-color: transparent;

	cursor: pointer;
}

.slider-next {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;

	color: var(--main-logo-color);
	background-color: transparent;

	cursor: pointer;
}

/* Section About */

.about {
	padding: 130px 0;
}

.about .container {
	display: flex;
	align-items: flex-start;
}

.about-photos {
	display: flex;
	justify-content: space-between;
	min-width: 570px;
	margin-right: 64px;
}

.about-discription {
	max-width: 500px;
}

.about-text {
	margin-bottom: 40px;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;

	color: var(--secondary-color);
}

.about-btn {
	padding: 12px 20px;

	font-family: var(--main-font);
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.34;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	color: var(--main-color);
	background-color: transparent;

	border: 1px solid var(--hover-color);
	border-radius: 25px;
	cursor: pointer;

	transition-property: color, background-color;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn:hover,
.about-btn:focus {
	color: var(--main-logo-color);
	background-color: var(--hoover-bg-color);
}

/* Section Price */

.price {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 130px 0;

	background-color: var(--cover-bg-color);
	background-image: url(../images/price/price-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.price-list {
	display: flex;
	margin-bottom: 50px;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--add-color);
}

.price-list-item {
	flex-basis: 50%;
	padding: 30px 40px;
}

.price-list-item:first-child {
	background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list-item:last-child {
	background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-inner-list-item {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 6px;
}

.price-inner-list-item::before {
	content: "";
	display: inline-block;
	flex-grow: 1;
	height: 1px;

	background: rgba(157, 164, 189, 0.12);
}

.price-inner-list-item:not(:last-child) {
	margin-bottom: 20px;
}

.price-disc {
	order: -1;
}

.price-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 20px;

	font-family: var(--main-font);
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.34;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	color: var(--main-logo-color);
	background-color: transparent;

	border: 1px solid var(--hover-color);
	border-radius: 25px;
	cursor: pointer;
}

.price-btn:hover,
.price-btn:focus {
	background-color: var(--hoover-bg-color);
}

/* Секция Benefits */

.benefits {
	padding-top: 121px;
	padding-bottom: 130px;
}

.benefits > .container {
	display: flex;
}

.benefits-list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 100px;
}

.benefits-item {
	max-width: 170px;
	max-height: 133px;

	background-color: var(--secondary-bg-color);
}

.benefits-item:nth-child(odd) {
	margin-right: 30px;
}

.benefits-item:nth-child(2) {
	margin-top: 35px;
}

.benefits-item:nth-child(4) {
	margin-top: 30px;
}

.benefits-item-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 20px 24px;
}

.benefits-item-wrap.special {
	padding: 20px 20px;
}

.benefits-number {
	margin-right: 2px;
	margin-bottom: 6px;

	font-weight: 700;
	font-size: 42px;
	line-height: 1.36;
	letter-spacing: 0.05em;
}

.benefits-symbol {
	font-size: 16px;
	line-height: 1.38;

	color: var(--hover-color);
}

.benefits-text {
	text-align: center;

	font-size: 11px;
	line-height: 1.37;
}

.benefits-desc {
	padding-left: 130px;
	padding-right: 70px;
}

.benefits .uppertittle {
	padding-top: 9px;
	margin-bottom: 20px;
}

.benefits-desc > .text {
	margin-bottom: 0;
}

/* Секция Team */

.team {
	padding: 130px 0;
	background-color: var(--secondary-bg-color);
}

.team .tittle {
	margin-bottom: 44px;
}

.team-list {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.team-photo {
	margin-bottom: 30px;
}

.team-name {
	margin-bottom: 8px;
	text-align: center;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.39;
	letter-spacing: 0.02em;
}

.team-position {
	margin-bottom: 30px;
	text-align: center;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.36;
	letter-spacing: 0.02em;

	color: #ff6c00;
}

.team-networks-list {
	display: flex;
	justify-content: center;
	gap: 6px;
}

.team-network {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;

	color: var(--main-color);
	background-color: var(--main-bg-color);

	border-radius: 50%;
}

.team-network-icon {
	fill: currentColor;
}

.team-network:hover,
.team-network:focus {
	color: var(--hover-color);
}

/* Секция Portfolio */

.portfolio {
	padding: 130px 0;
}

.uppertittle {
	margin-bottom: 44px;
}

.portfolio-album {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: calc(-1 * 30px / 2);
}

.portfolio-img {
	display: block;
	flex-basis: calc((100% - 30px) / 3);
	margin: calc(30px / 2);
}

/* Секция Contacts */

.contacts {
	max-width: 1280px;
	padding: 130px 0;
	margin-right: auto;
	margin-left: auto;

	background-color: var(--add-bg-color);
	background-image: url(../images/contacts/contacts-bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top 50% left calc(50% + 312px);
}

.contacts .container {
	display: flex;
	align-items: flex-start;
}

.contacts .appointment {
	margin-right: 140px;
	margin-bottom: 44px;

	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;

	color: var(--main-logo-color);

	opacity: 0.6;
}

.contacts .btn {
	display: block;
	padding: 12px 20px;

	font-family: var(--main-font);
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.34;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	border: 1px solid var(--hover-color);
	border-radius: 25px;
	cursor: pointer;

	color: var(--main-logo-color);
	background-color: transparent;

	cursor: pointer;
}
.contacts .btn:hover,
.contacts .btn:focus {
	background-color: var(--hoover-bg-color);
}

.contacts .tittle {
	margin-bottom: 40px;
}

.contacts-address {
	width: 270px;
	margin-bottom: 70px;
}

.contacts .address,
.tel,
.mail {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--add-color);
}

.contacts .mail {
	text-decoration: underline;
}

.contacts .workhours {
	margin-bottom: 20px;

	font-size: 11px;
	line-height: 1.37;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--main-logo-color);
}

.contacts .time {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--add-color);
}

/* Footer */

.footer {
	background-color: var(--secondary-bg-color);
}

.footer-copyright {
	font-size: 11px;
	line-height: 1.37;
	letter-spacing: 0.2em;

	color: var(--add-color);
}

.footer-link {
	font-style: normal;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: var(--main-color);
}

.footer-link:hover,
.footer-link:focus {
	color: var(--hover-color);
}
